/*
/////////////////// HEADER
/////////////////////////////////////
*/

header {
  width: 100%;
  padding: 3rem;
  overflow: visible;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.lazy-bg {
  background: linear-gradient(
      90deg,
      rgba(6, 125, 237, 0.7) 0%,
      rgba(5, 14, 187, 0.7) 100%
    ),
    url('/public/background-lowres.jpg') no-repeat top / cover;
  transition: background 0.5s ease-in-out;
}

.loaded-bg {
  background: linear-gradient(
      90deg,
      rgba(6, 125, 237, 0.7) 0%,
      rgba(5, 14, 187, 0.7) 100%
    ),
    url('/public/background.webp') no-repeat top / cover;
}

nav {
  position: absolute;
  margin-top: 30px;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  max-width: fit-content;
  flex-shrink: 2;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 1;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 0.8rem;
  column-gap: 2rem;
}

.nav__menu li {
  position: relative;
  font-size: var(--text-medium);
  border: 1px solid ridge;
  &::before {
    content: '';
    position: absolute;
    top: 5;
    width: 100%;
    height: 3px;
    background-color: var(--c-green-secondary);
    border-radius: 0 0 10px 10px;
    transform: scaleX(0);
    transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }
  &:hover::before {
    transform: scaleX(1);
    height: 100%;
  }
}

.nav__menu li a {
  padding: 0 2rem;
  color: var(--c-white);
  line-height: 2em;
  position: relative;
  display: block;
}

.nav__menu i {
  visibility: hidden;
  width: 0;
  color: var(--c-blue-secondary);
}

.header__title {
  margin-left: 2rem;
  align-self: flex-start;
  margin: auto 3rem;
  line-height: 1.55;
}

nav.sticky {
  position: fixed;
  transform: translateX(-50%);
  left: 8dvw;
  top: 20dvh;
  gap: 10px;
  background-color: transparent;
  backdrop-filter: none;
}

nav.sticky .nav__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  width: 200px;
  min-width: fit-content;
}

nav.sticky .nav__menu li {
  font-size: var(--text-base);
  padding: 0.5rem 0;
  &::before {
    display: none;
  }
}

nav.sticky a,
nav.sticky a:focus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  width: 56px;
  max-width: 200px;
  border-radius: 50px;
  background: #f2f3f5;
  color: #45505b;
  padding: 10px 18px;
  transition: all 300ms ease;
  overflow: hidden;
  text-decoration: none;
  font-size: 1.5rem;
}

nav.sticky li:hover a {
  color: #fff;
  background: var(--c-blue-secondary);
}

nav.sticky span,
nav.sticky span {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: opacity 300ms ease, visibility 500ms ease, width 300ms ease;
}

nav.sticky li:hover span,
nav.sticky a:hover span {
  margin-left: 34px;
  opacity: 1;
  visibility: visible;
  width: auto;
}

nav.sticky .nav__menu i {
  visibility: visible;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 350ms ease-out;
  font-size: inherit;
}

nav.sticky li:hover i {
  color: var(--c-white);
  left: 0;
  transform: translateX(70%);
}

nav.sticky li:hover a {
  width: fit-content;
}

.typewriter-container h2 {
  display: flex;
  align-items: center;
  justify-items: space-between;
  gap: 3px;
}

.featured-text {
  font-size: var(--text-xl);
  color: var(--light);
  display: inline-block;
  padding: 0 0.55rem;
}

.cursor {
  display: inline-block;
  height: 40px;
  width: 3px;
  background: var(--c-green);
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    background: var(--c-green);
  }
  40%,
  50% {
    background: transparent;
  }
}

/*
  /////////////////// SECTION STYLE
  ////////////////////////////////////////
  */

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  section {
    padding: 0 15rem;
    margin-bottom: 5rem;
    h1 {
      --s: 3px; /* the thickness */
      --c: var(--c-blue-secondary); /* the color */
      --w: 180px; /* the width */
      --g: 26px; /* the gap */
      border-image: linear-gradient(
          #0000 calc(50% - var(--s) / 2),
          var(--c) 0 calc(50% + var(--s) / 2),
          #0000 0
        )
        0 1/0 var(--w) / 0 calc(var(--w) + var(--g));
      display: block;
      width: fit-content;
      position: relative;
      text-align: center;
      padding: 0 0rem 0.7rem 0rem;
      margin: 0 auto 4.7rem auto;
      text-transform: uppercase;
      padding-top: 1.8rem;
      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: var(--c-white);
        left: calc(50% - 100px);
        bottom: 1px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 90px;
        height: 3px;
        background-color: var(--c-blue-secondary);
        left: calc(50% - 45px);
        bottom: 0;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    section {
      padding: 0;
    }
    h1 {
      padding-left: 0;
    }
  }
}

.section {
  margin-top: 3rem;
  transition: all 800ms ease-in-out;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.lazy_load {
  filter: blur(25px);
}

/*
/////////////////// ABOUT
////////////////////////////////////////
*/

.about__content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about__content-text {
  max-width: 650px;
}

.about__img-container {
  width: 350px;
  flex: 0 0 350px;
  img {
    align-self: start;
    object-fit: cover;
    display: block;
    width: 100%;
    margin-right: 2.8rem;
  }
}

@media screen and (max-width: 1200px) {
  .about__content {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    .about__content-text {
      padding: 0 calc(3rem + 1vw);
    }
  }
  .about__img-container {
    margin: 0 0 2.8rem 0;
    align-self: center;
    max-width: 350px;
  }
}
/*
/////////////////// SERVICES
////////////////////////////////////////
*/

.cards__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  justify-content: center;
  gap: 2rem;
  grid-auto-flow: row;
  width: 100%;
}

.service__card {
  width: 22rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  transition: transform 0.3s;
  h2 {
    flex: 1;
    display: block;
    height: min-content;
    color: var(--c-blue-secondary);
    margin: 0;
  }
  p {
    margin: 0;
  }
  img {
    filter: contrast(20%) brightness(2);
    width: 120px;
    margin-block: 0.5rem;
  }
  &:hover {
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
  }
  &:hover img {
    filter: contrast(3%) brightness(10);
  }
}

@media screen and (max-width: 1200px) {
  .cards__container {
    align-items: center;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

/* /////////////////////
  //////////////////////////////////////  Project section
  /////////////////////// */

.project__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: start;
  justify-items: center;
  gap: 3rem;
  overflow: hidden;
  max-width: 1500px;
  grid-auto-rows: dense;
  grid-auto-flow: dense;
}

.project__card {
  position: relative;
  width: 600px;
  border: 5px solid var(--c-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.project__card::before {
  content: '';
  position: absolute;
  background: rgba(236, 240, 241, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scale(0, 0);
  z-index: -1;
  transition: all 400ms ease-in-out;
}

.atrium {
  background: center / cover no-repeat url('/public/atrium.jpg');
  aspect-ratio: 1 / calc(541 / 600);
}

.dashboard {
  background: center / cover no-repeat url('/public/dashboard.webp');
  aspect-ratio: 1 / calc(458 / 600);
}

.ecuprogram {
  background: center / cover no-repeat url('/public/ecuprogram.jpg');
  aspect-ratio: 1 / calc(398 / 600);
}

.wild-oasis {
  background: center / contain no-repeat url('/public/wild-oasis.jpg');
  aspect-ratio: 1 / calc(438 / 600);
  margin-top: -83px;
  @media screen and (max-width: 1500px) {
    margin-top: 0;
  }
}

.project__card:hover::before {
  transform: scale(1, 1);
  backdrop-filter: blur(5px);
}

.project__info {
  --s: 65px;
  --t: 5px;
  --g: 20px;
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  border: var(--t) solid var(--c-blue-secondary);
  width: calc(90% - 30px);
  height: calc(90% - 30px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 2;
  transition: all 400ms ease-in-out;
  /* transition: transform 400ms ease-in, width 500ms ease-in, height 500ms ease-in; */
  transform: scale(0, 0);
}

.project__card:hover .project__info {
  /* width: calc(90% - 30px);
  height: calc(90% - 30px); */
  transform: scale(1, 1);
}

.project__info h2 {
  padding-bottom: 0.5rem;
  text-decoration: underline 2px;
  text-underline-offset: 0.12em;
  transition: color 350ms ease-in;
  color: var(--c-blue-secondary);
}

.project__info ul {
  margin-block: 1rem;
}
.project__info ul li {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  justify-items: center;
  text-align: right;
  align-items: center;
  padding: 0 3rem;
  line-height: 1.5em;
  transition: color 350ms ease-in;
  color: var(--c-black-secondary);
}

.link__icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2rem;
}

.link__icons a {
  background-color: var(--c-blue);
  color: var(--c-white);
  font-size: var(--fs-sm);
  padding: 0.7rem 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--c-blue-secondary);
  }
}

.fa-circle-check {
  color: var(--c-green);
}

.link__icons a i {
  margin-right: 8px;
}

/*
/////////////////// CONTACT SECTION
////////////////////////////////////////
*/

form {
  color: var(--c-black-secondary);
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  justify-content: center;
  margin: 10px auto;
  max-width: 640px;
}

input,
textarea {
  border: none;
  padding: 0.8rem;
}

input:focus,
input:active,
textarea:active,
textarea:focus {
  outline: 2px solid var(--c-blue-secondary);
  outline-offset: 2px;
}

fieldset {
  border: none;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  align-content: center;
  &:not(:last-child) {
    margin-top: 18px;
  }
}

fieldset:first-child > div > input {
  width: 311px;
}

fieldset:nth-child(2) input,
fieldset:nth-child(3) textarea {
  width: 100%;
}

label {
  display: none;
}

form > button {
  width: 120px;
  padding: 14px 28px;
  justify-self: center;
  margin-top: 1.2rem;
  background-color: var(--c-blue-secondary);
  color: var(--c-white);
  &:active,
  &:hover,
  &:focus {
    outline: 2px solid var(--c-white);
  }
}

input,
textarea,
form button {
  border-radius: 5px;
  border: 1px solid var(--c-blue-secondary);
}

/*
/////////////////// FAQ SECTION 
////////////////////////////////////////
*/

.faq__container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.faq__question {
  position: relative;
  background-color: var(--c-white);
  border: none;
  padding: 1.4rem 2rem;
  width: 100%;
  text-align: left;
  display: flex;
  cursor: pointer;
  text-transform: none;
  transition: all 300ms ease;
}

.faq__question:focus {
  outline: 1px solid var(--c-grey);
}

.faq__question:hover {
  background-color: var(--c-grey);
}

.faq__question .arrow {
  color: var(--c-blue-secondary);
  position: absolute;
  right: 20px;
  display: inline-block;
  transition: transform 300ms ease;
}

.faq__question.active .arrow {
  transform: rotate(180deg);
}

.faq__item {
  border-bottom: 1px solid var(--c-grey);
  overflow: hidden;
}

.faq__question.active {
  border-bottom: 2px solid var(--c-blue-secondary);
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease;
  background-color: var(--c-white-secondary);
}

.faq__answer p {
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--c-black-secondary);
}

/*
/////////////////// FOOTER
////////////////////////////////////////
*/

footer {
  padding: 3rem;
}

.footer__container {
  background-color: var(--c-black-secondary);
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  justify-items: center;
  padding: 3rem;
  span {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
  }
  li {
    padding-block: 0.1rem;
  }
  li:hover a {
    color: var(--c-link-hover);
  }
}

.social__section ul {
  display: flex;
  flex-direction: column;
}

.footer__terms {
  background-color: var(--c-black-secondary);
  ul {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-block: 0.8rem;
    li a {
      color: var(--c-white);
      text-decoration: underline;
      text-underline-offset: 0.2em;
      font-size: var(--text-base);
    }
  }
  span {
    text-align: center;
    font: var(--font-sm) 'Quicksand', non-serif;
    letter-spacing: 0.1em;
    display: block;
    padding-bottom: 1rem;
  }
}
